.header div#mode {
    color: white;
    display: inline;
    margin-left: 3%;
}



.tick-range div.slider-selection {
    background: green;
}
.tick-range div.slider-track-low, .tick-range div.slider-track-high {
    background: red;
}


div.card-body{
    margin: 0 0 0 0;
    padding: 3px 2px 3px 2px;
}

ul{
    margin: 0;
    padding: 0;
}

ul.li, li.list-group-item {
    padding: .5em 5px .2em .3em;
    color: #000000;
    background-color:#3c495769 ;
}


div.card-header{
    padding: .7em 1.2em;
}

/* 调整bootstrap 的 glyphicon 图标的大小 */
span.icon.expand-icon.glyphicon.glyphicon-plus, span.icon.expand-icon.glyphicon.glyphicon-minus{
    font-size: 10px;
}

/* 设置 select中的option 鼠标悬浮的样式*/
a.dropdown-item:hover{
    background-color: black;
    color: red;
    font-size: 20px;
    opacity: 0.5;
}